In [1]:
import pandas as pd

df = pd.read_csv("datasets/h1b_combined.csv")
df.head(10)

D:\anacoda\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (14,15,16,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CASE_NUMBER,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_BUSINESS_DBA,EMPLOYER_ADDRESS,...,H1B_DEPENDENT,WILLFUL_VIOLATOR,SUPPORT_H1B,LABOR_CON_AGREE,PUBLIC_DISCLOSURE_LOCATION,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE,ORIGINAL_CERT_DATE
0,I-200-15279-248712,CERTIFIED-WITHDRAWN,2015-10-06,2017-10-01,H-1B,2015-11-15,2017-11-14,MASSACHUSETTS INSTITUTE OF TECHNOLOGY,NaN,77 MASSACHUSETTS AVENUE,...,N,N,NaN,Y,NaN,CAMBRIDGE,MIDDLESEX,MA,02139,2015-10-13
1,I-200-16134-779506,CERTIFIED-WITHDRAWN,2016-05-13,2017-10-01,H-1B,2016-09-01,2019-08-31,MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),NaN,77 MASSACHUSETTS AVENUE,...,N,N,NaN,NaN,NaN,CAMBRIDGE,MIDDLESEX COUNTY,MA,02139,2016-05-19
2,I-200-16309-239165,CERTIFIED-WITHDRAWN,2016-11-04,2017-10-01,H-1B,2016-12-01,2017-11-30,MASSACHUSETTS INSTITUTE OF TECHNOLOGY,NaN,77 MASSACHUSETTS AVENUE,...,N,N,NaN,Y,NaN,CAMBRIDGE,MIDDLESEX,MA,02139,2016-11-10
3,I-200-16363-692687,CERTIFIED-WITHDRAWN,2016-12-28,2017-10-01,H-1B,2017-02-01,2018-01-31,MASSACHUSETTS INSTITUTE OF TECHNOLOGY,NaN,77 MASSACHUSETTS AVENUE,...,N,N,NaN,Y,NaN,CAMBRIDGE,MIDDLESEX,MA,02139,2017-01-04
4,I-200-17055-511599,CERTIFIED-WITHDRAWN,2017-02-24,2017-10-01,H-1B,2017-06-01,2018-05-31,MASSACHUSETTS INSTITUTE OF TECHNOLOGY,NaN,77 MASSACHUSETTS AVENUE,...,N,N,NaN,Y,NaN,CAMBRIDGE,MIDDLESEX,MA,02139,2017-03-02
5,I-200-17068-828736,CERTIFIED-WITHDRAWN,2017-03-09,2017-10-01,H-1B,2017-09-08,2020-09-08,"PARK VIEW TRAVEL BEVERLY HILLS, LLC",NaN,9440 SANTA MONICA BLVD,...,N,N,NaN,NaN,NaN,BEVERLY HILLS,LOS ANGELES,CA,90210,2017-03-15
6,I-200-17272-504649,WITHDRAWN,2017-09-29,2017-10-01,H-1B,2017-10-16,2018-11-30,IBM INDIA PRIVATE LIMITED,NaN,3039 CORNWALLIS ROAD,...,N,N,NaN,NaN,NaN,DOWNERS GROVE,DUPAGE,IL,60515,NaN
7,I-200-17272-214308,WITHDRAWN,2017-09-29,2017-10-01,H-1B,2017-11-01,2018-12-12,IBM INDIA PRIVATE LIMITED,NaN,3039 CORNWALLIS ROAD,...,N,N,NaN,NaN,NaN,WHITEHOUSE STATION,HUNTERDON,NJ,08889,NaN
8,I-200-17274-569577,WITHDRAWN,2017-10-01,2017-10-01,H-1B,2017-10-04,2019-10-03,BTREE SOLUTIONS INC,NaN,570 HERNDON PARKWAY,...,Y,N,Y,NaN,NaN,COLUMBUS,FRANKLIN,OH,43214,NaN
9,I-200-17274-195279,WITHDRAWN,2017-10-01,2017-10-01,H-1B,2018-01-01,2020-12-31,"YOUNIS ART STUDIO, INC,",MARIANAS VARIETY NEWS AND VIEWS,P. O. BOX 500231,...,N,N,NaN,Y,NaN,SAIPAN,NaN,MP,96950,NaN

Listing the amount of missing values by number and then percentage, Decide to eliminate any columns with more than 10% of their values missing

In [2]:
df.apply(lambda x: sum(x.isnull()),axis=0)

CASE_NUMBER                          0
CASE_STATUS                          0
CASE_SUBMITTED                       0
DECISION_DATE                        0
VISA_CLASS                           0
EMPLOYMENT_START_DATE               34
EMPLOYMENT_END_DATE                 37
EMPLOYER_NAME                       72
EMPLOYER_BUSINESS_DBA          1078568
EMPLOYER_ADDRESS                    14
EMPLOYER_CITY                       22
EMPLOYER_STATE                      51
EMPLOYER_POSTAL_CODE                33
EMPLOYER_COUNTRY                 96511
EMPLOYER_PROVINCE              1154772
EMPLOYER_PHONE                   96512
EMPLOYER_PHONE_EXT             1109544
AGENT_REPRESENTING_EMPLOYER      96516
AGENT_ATTORNEY_NAME                  0
AGENT_ATTORNEY_CITY             432740
AGENT_ATTORNEY_STATE            468602
JOB_TITLE                            7
SOC_CODE                            12
SOC_NAME                            13
NAICS_CODE                          11
TOTAL_WORKERS                        0
NEW_EMPLOYMENT                       0
CONTINUED_EMPLOYMENT                 0
CHANGE_PREVIOUS_EMPLOYMENT           0
NEW_CONCURRENT_EMPLOYMENT            0
CHANGE_EMPLOYER                      0
AMENDED_PETITION                     0
FULL_TIME_POSITION                   9
PREVAILING_WAGE                      3
PW_UNIT_OF_PAY                      91
PW_WAGE_LEVEL                   156303
PW_SOURCE                           90
PW_SOURCE_YEAR                      99
PW_SOURCE_OTHER                  11690
WAGE_RATE_OF_PAY_FROM                0
WAGE_RATE_OF_PAY_TO                  4
WAGE_UNIT_OF_PAY                    16
H1B_DEPENDENT                    24475
WILLFUL_VIOLATOR                 24483
SUPPORT_H1B                     735350
LABOR_CON_AGREE                 722511
PUBLIC_DISCLOSURE_LOCATION     1166205
WORKSITE_CITY                       29
WORKSITE_COUNTY                   1982
WORKSITE_STATE                      20
WORKSITE_POSTAL_CODE                41
ORIGINAL_CERT_DATE             1085436
dtype: int64

In [3]:
df.apply(lambda x: (sum(x.isnull())/1166205) * 100,axis=0)

CASE_NUMBER                      0.000000
CASE_STATUS                      0.000000
CASE_SUBMITTED                   0.000000
DECISION_DATE                    0.000000
VISA_CLASS                       0.000000
EMPLOYMENT_START_DATE            0.002915
EMPLOYMENT_END_DATE              0.003173
EMPLOYER_NAME                    0.006174
EMPLOYER_BUSINESS_DBA           92.485283
EMPLOYER_ADDRESS                 0.001200
EMPLOYER_CITY                    0.001886
EMPLOYER_STATE                   0.004373
EMPLOYER_POSTAL_CODE             0.002830
EMPLOYER_COUNTRY                 8.275646
EMPLOYER_PROVINCE               99.019641
EMPLOYER_PHONE                   8.275732
EMPLOYER_PHONE_EXT              95.141420
AGENT_REPRESENTING_EMPLOYER      8.276075
AGENT_ATTORNEY_NAME              0.000000
AGENT_ATTORNEY_CITY             37.106684
AGENT_ATTORNEY_STATE            40.181786
JOB_TITLE                        0.000600
SOC_CODE                         0.001029
SOC_NAME                         0.001115
NAICS_CODE                       0.000943
TOTAL_WORKERS                    0.000000
NEW_EMPLOYMENT                   0.000000
CONTINUED_EMPLOYMENT             0.000000
CHANGE_PREVIOUS_EMPLOYMENT       0.000000
NEW_CONCURRENT_EMPLOYMENT        0.000000
CHANGE_EMPLOYER                  0.000000
AMENDED_PETITION                 0.000000
FULL_TIME_POSITION               0.000772
PREVAILING_WAGE                  0.000257
PW_UNIT_OF_PAY                   0.007803
PW_WAGE_LEVEL                   13.402704
PW_SOURCE                        0.007717
PW_SOURCE_YEAR                   0.008489
PW_SOURCE_OTHER                  1.002397
WAGE_RATE_OF_PAY_FROM            0.000000
WAGE_RATE_OF_PAY_TO              0.000343
WAGE_UNIT_OF_PAY                 0.001372
H1B_DEPENDENT                    2.098688
WILLFUL_VIOLATOR                 2.099374
SUPPORT_H1B                     63.054952
LABOR_CON_AGREE                 61.954030
PUBLIC_DISCLOSURE_LOCATION     100.000000
WORKSITE_CITY                    0.002487
WORKSITE_COUNTY                  0.169953
WORKSITE_STATE                   0.001715
WORKSITE_POSTAL_CODE             0.003516
ORIGINAL_CERT_DATE              93.074202
dtype: float64

In [4]:
#get rid of rows without a SOC_CODE
df = df[~df["SOC_CODE"].isnull()]
#too many missing values of coloumns that dont matter 
df = df.drop(['EMPLOYER_BUSINESS_DBA', 'EMPLOYER_PROVINCE','EMPLOYER_PHONE_EXT','AGENT_ATTORNEY_CITY',
            'AGENT_ATTORNEY_STATE','PW_WAGE_LEVEL','PW_SOURCE_OTHER','SUPPORT_H1B','LABOR_CON_AGREE',
            'PUBLIC_DISCLOSURE_LOCATION','ORIGINAL_CERT_DATE'], axis=1)
#justify removing coloumns

In [5]:
df.apply(lambda x: sum(x.isnull()),axis=0)

CASE_NUMBER                        0
CASE_STATUS                        0
CASE_SUBMITTED                     0
DECISION_DATE                      0
VISA_CLASS                         0
EMPLOYMENT_START_DATE             30
EMPLOYMENT_END_DATE               33
EMPLOYER_NAME                     69
EMPLOYER_ADDRESS                  11
EMPLOYER_CITY                     19
EMPLOYER_STATE                    48
EMPLOYER_POSTAL_CODE              30
EMPLOYER_COUNTRY               96507
EMPLOYER_PHONE                 96508
AGENT_REPRESENTING_EMPLOYER    96508
AGENT_ATTORNEY_NAME                0
JOB_TITLE                          3
SOC_CODE                           0
SOC_NAME                           1
NAICS_CODE                         8
TOTAL_WORKERS                      0
NEW_EMPLOYMENT                     0
CONTINUED_EMPLOYMENT               0
CHANGE_PREVIOUS_EMPLOYMENT         0
NEW_CONCURRENT_EMPLOYMENT          0
CHANGE_EMPLOYER                    0
AMENDED_PETITION                   0
FULL_TIME_POSITION                 6
PREVAILING_WAGE                    3
PW_UNIT_OF_PAY                    87
PW_SOURCE                         86
PW_SOURCE_YEAR                    88
WAGE_RATE_OF_PAY_FROM              0
WAGE_RATE_OF_PAY_TO                4
WAGE_UNIT_OF_PAY                  12
H1B_DEPENDENT                  24471
WILLFUL_VIOLATOR               24479
WORKSITE_CITY                     25
WORKSITE_COUNTY                 1978
WORKSITE_STATE                    16
WORKSITE_POSTAL_CODE              37
dtype: int64

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
len(df["JOB_TITLE"].unique())

155636

In [8]:
df.dtypes

CASE_NUMBER                     object
CASE_STATUS                     object
CASE_SUBMITTED                  object
DECISION_DATE                   object
VISA_CLASS                      object
EMPLOYMENT_START_DATE           object
EMPLOYMENT_END_DATE             object
EMPLOYER_NAME                   object
EMPLOYER_ADDRESS                object
EMPLOYER_CITY                   object
EMPLOYER_STATE                  object
EMPLOYER_POSTAL_CODE            object
EMPLOYER_COUNTRY                object
EMPLOYER_PHONE                  object
AGENT_REPRESENTING_EMPLOYER     object
AGENT_ATTORNEY_NAME             object
JOB_TITLE                       object
SOC_CODE                        object
SOC_NAME                        object
NAICS_CODE                      object
TOTAL_WORKERS                    int64
NEW_EMPLOYMENT                   int64
CONTINUED_EMPLOYMENT             int64
CHANGE_PREVIOUS_EMPLOYMENT       int64
NEW_CONCURRENT_EMPLOYMENT        int64
CHANGE_EMPLOYER                  int64
AMENDED_PETITION                 int64
FULL_TIME_POSITION              object
PREVAILING_WAGE                float64
PW_UNIT_OF_PAY                  object
PW_SOURCE                       object
PW_SOURCE_YEAR                 float64
WAGE_RATE_OF_PAY_FROM          float64
WAGE_RATE_OF_PAY_TO            float64
WAGE_UNIT_OF_PAY                object
H1B_DEPENDENT                   object
WILLFUL_VIOLATOR                object
WORKSITE_CITY                   object
WORKSITE_COUNTY                 object
WORKSITE_STATE                  object
WORKSITE_POSTAL_CODE            object
dtype: object

Decide to exclude case number

In [9]:
df = df.drop(["CASE_NUMBER"], axis=1)
#too many in job title

In [10]:
obj_df = df.select_dtypes(include=['object']).copy()
obj_df.head()

,CASE_STATUS,CASE_SUBMITTED,DECISION_DATE,VISA_CLASS,EMPLOYMENT_START_DATE,EMPLOYMENT_END_DATE,EMPLOYER_NAME,EMPLOYER_ADDRESS,EMPLOYER_CITY,EMPLOYER_STATE,...,FULL_TIME_POSITION,PW_UNIT_OF_PAY,PW_SOURCE,WAGE_UNIT_OF_PAY,H1B_DEPENDENT,WILLFUL_VIOLATOR,WORKSITE_CITY,WORKSITE_COUNTY,WORKSITE_STATE,WORKSITE_POSTAL_CODE
0,CERTIFIED-WITHDRAWN,2015-10-06,2017-10-01,H-1B,2015-11-15,2017-11-14,MASSACHUSETTS INSTITUTE OF TECHNOLOGY,77 MASSACHUSETTS AVENUE,CAMBRIDGE,MA,...,Y,Year,OES,Year,N,N,CAMBRIDGE,MIDDLESEX,MA,02139
1,CERTIFIED-WITHDRAWN,2016-05-13,2017-10-01,H-1B,2016-09-01,2019-08-31,MASSACHUSETTS INSTITUTE OF TECHNOLOGY (MIT),77 MASSACHUSETTS AVENUE,CAMBRIDGE,MA,...,Y,Year,OES,Year,N,N,CAMBRIDGE,MIDDLESEX COUNTY,MA,02139
2,CERTIFIED-WITHDRAWN,2016-11-04,2017-10-01,H-1B,2016-12-01,2017-11-30,MASSACHUSETTS INSTITUTE OF TECHNOLOGY,77 MASSACHUSETTS AVENUE,CAMBRIDGE,MA,...,Y,Year,OES,Year,N,N,CAMBRIDGE,MIDDLESEX,MA,02139
3,CERTIFIED-WITHDRAWN,2016-12-28,2017-10-01,H-1B,2017-02-01,2018-01-31,MASSACHUSETTS INSTITUTE OF TECHNOLOGY,77 MASSACHUSETTS AVENUE,CAMBRIDGE,MA,...,Y,Year,OES,Year,N,N,CAMBRIDGE,MIDDLESEX,MA,02139
4,CERTIFIED-WITHDRAWN,2017-02-24,2017-10-01,H-1B,2017-06-01,2018-05-31,MASSACHUSETTS INSTITUTE OF TECHNOLOGY,77 MASSACHUSETTS AVENUE,CAMBRIDGE,MA,...,Y,Year,OES,Year,N,N,CAMBRIDGE,MIDDLESEX,MA,02139

In [11]:
df["H1B_DEPENDENT"].unique()

array(['N', 'Y', nan], dtype=object)

In [12]:
df["WILLFUL_VIOLATOR"].unique()

array(['N', nan, 'Y'], dtype=object)

Every employer is american so we can exclude this column phone number shouldnt matter and the agaent we cannot fill the missing values so all will be removed

In [13]:
df = df.drop(["EMPLOYER_COUNTRY","EMPLOYER_PHONE","AGENT_REPRESENTING_EMPLOYER"], axis=1)

In [14]:
df.apply(lambda x: sum(x.isnull()),axis=0)

CASE_STATUS                       0
CASE_SUBMITTED                    0
DECISION_DATE                     0
VISA_CLASS                        0
EMPLOYMENT_START_DATE            30
EMPLOYMENT_END_DATE              33
EMPLOYER_NAME                    69
EMPLOYER_ADDRESS                 11
EMPLOYER_CITY                    19
EMPLOYER_STATE                   48
EMPLOYER_POSTAL_CODE             30
AGENT_ATTORNEY_NAME               0
JOB_TITLE                         3
SOC_CODE                          0
SOC_NAME                          1
NAICS_CODE                        8
TOTAL_WORKERS                     0
NEW_EMPLOYMENT                    0
CONTINUED_EMPLOYMENT              0
CHANGE_PREVIOUS_EMPLOYMENT        0
NEW_CONCURRENT_EMPLOYMENT         0
CHANGE_EMPLOYER                   0
AMENDED_PETITION                  0
FULL_TIME_POSITION                6
PREVAILING_WAGE                   3
PW_UNIT_OF_PAY                   87
PW_SOURCE                        86
PW_SOURCE_YEAR                   88
WAGE_RATE_OF_PAY_FROM             0
WAGE_RATE_OF_PAY_TO               4
WAGE_UNIT_OF_PAY                 12
H1B_DEPENDENT                 24471
WILLFUL_VIOLATOR              24479
WORKSITE_CITY                    25
WORKSITE_COUNTY                1978
WORKSITE_STATE                   16
WORKSITE_POSTAL_CODE             37
dtype: int64

In [15]:
len(df["SOC_NAME"].unique())

1097

In [16]:
len(df["SOC_CODE"].unique())

925

In [17]:
len(df["WORKSITE_CITY"].unique())

10240

In [18]:
len(df["WORKSITE_STATE"].unique())

58

In [19]:
len(df["WORKSITE_COUNTY"].unique())

4852

drop all na values from all coloumns i definitely want to keep

In [20]:
df = df.dropna(subset=['WILLFUL_VIOLATOR'])
df = df.dropna(subset=['H1B_DEPENDENT'])
df = df.dropna(subset=['EMPLOYER_NAME'])
df = df.dropna(subset=['PREVAILING_WAGE'])
df = df.dropna(subset=['SOC_NAME'])
df = df.dropna(subset=['WORKSITE_STATE'])

In [21]:
df.apply(lambda x: sum(x.isnull()),axis=0)

CASE_STATUS                      0
CASE_SUBMITTED                   0
DECISION_DATE                    0
VISA_CLASS                       0
EMPLOYMENT_START_DATE           23
EMPLOYMENT_END_DATE             25
EMPLOYER_NAME                    0
EMPLOYER_ADDRESS                 4
EMPLOYER_CITY                   12
EMPLOYER_STATE                  40
EMPLOYER_POSTAL_CODE            23
AGENT_ATTORNEY_NAME              0
JOB_TITLE                        3
SOC_CODE                         0
SOC_NAME                         0
NAICS_CODE                       2
TOTAL_WORKERS                    0
NEW_EMPLOYMENT                   0
CONTINUED_EMPLOYMENT             0
CHANGE_PREVIOUS_EMPLOYMENT       0
NEW_CONCURRENT_EMPLOYMENT        0
CHANGE_EMPLOYER                  0
AMENDED_PETITION                 0
FULL_TIME_POSITION               6
PREVAILING_WAGE                  0
PW_UNIT_OF_PAY                  52
PW_SOURCE                       51
PW_SOURCE_YEAR                  54
WAGE_RATE_OF_PAY_FROM            0
WAGE_RATE_OF_PAY_TO              3
WAGE_UNIT_OF_PAY                 8
H1B_DEPENDENT                    0
WILLFUL_VIOLATOR                 0
WORKSITE_CITY                   15
WORKSITE_COUNTY               1891
WORKSITE_STATE                   0
WORKSITE_POSTAL_CODE            28
dtype: int64

low amount of misisng values left realative to the dataset size so they will all be removed

In [22]:
df = df.dropna()

In [23]:
df.to_csv("datasets/2017_2018_initial_processed.csv", index=False)